* {
  box-sizing: border-box;
}
html{
  
  background: #F6F2EC;
  font-family: 'Raleway', sans-serif;
}
body{
  background-image: url("/images/so-white.png");
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: cover;
  margin:0px;
  padding:0px;
}
header{
  padding: 0px;
  height:100%;
}
h1, h2, h3, h4{
  font-family: 'Bitter', serif;
}
img, iframe{
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
iframe{
  width: 640px;
  height: 360px;
}
a{
  text-decoration: none;
  color:white;
  font-weight:bolder;
  font-size: 18px;
}
ul {
  display: flex;
  align-items: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 15px;
  text-decoration: none;
}

a:hover {
  color:blueviolet;
}


.pinkbg{
  background: #ffc1b1;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.flex-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button{
  float:none;
  text-align: center;
  background: #ffc1b1;
  padding: 10px;
  border-radius: 50px;
}
.reverse-button{
  float:none;
  text-align: center;
  background:#F6F2EC;
  color:#ffc1b1;
  padding: 10px;
  border-radius: 50px;
}.reverse-button:hover {
  color:blueviolet;
}
.headerbg{
  background: #ffc1b1;
}
.opacityhover{
  opacity: 0.5;
}
.opacityhover:hover {
  opacity: 1.0;
}
.headerlogo{
  float:left;
  width:400px;
  margin: 0;
  padding: 0;
}


[class*="col-"] {
  float: left;
  padding: 15px;
  width: 100%;
  /*border: 1px solid red;*/
  
}
@media only screen and (max-width:768px){
  li {
  float: left;
}
  ul{
  flex-direction: column;
}
  li a {
  padding:20px 0px;
}
}
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}