* {
  box-sizing: border-box;
}
html{
  
  background: #F6F2EC;
  font-family: 'Raleway', sans-serif;
}
body{
  background-image: url("/images/spring.png");
  background-repeat: repeat;
  margin:0px;
  padding:0px;
}
header{
  padding: 0px;
  height:100%;
}
h1, h2, h3, h4{
  font-family: 'Bitter', serif;
}
p{
  text-indent: 30px;
  line-height: 1.5;
}
img{
  max-width: 100%;
  max-height: 1005;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
iframe{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
a{
  text-decoration: none;
  color:white;
  font-weight:bolder;
  font-size: 18px;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 15px;
  text-decoration: none;
}
a:hover {
  color:blueviolet;
}


.navigation {
  display: flex;
  align-items: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.resume-format{
  line-height: 1.5;
}
.pinkbg{
  background: #ffc1b1;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.flex-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button{
  float:none;
  text-align: center;
  background: #ffc1b1;
  padding: 10px;
  border-radius: 50px;
}
.reverse-button{
  float:none;
  text-align: center;
  background:#F6F2EC;
  color:#ffc1b1;
  padding: 10px;
  border-radius: 50px;
  line-height: 1;
}.reverse-button:hover {
  color:blueviolet;
}
.headerbg{
  background: #ffc1b1;
}
.opacityhover{
  opacity: 0.5;
}
.opacityhover:hover {
  opacity: 1.0;
}
.headerlogo{
  float:left;
  width:400px;
  margin: 0;
  padding: 0;
}
.roundphoto img{
  border-radius: 50%;
}
.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }


[class*="col-"] {
  float: left;
  padding: 15px;
  width: 100%;
  /*border: 1px solid red;*/
  
}
@media only screen and (max-width:768px){
  li {
  float: left;
  }
  ul{
  flex-direction: column;
  }
  li a {
  padding:20px 0px;
  }
}
@media only screen and (max-width: 600px) {
  .roundphoto {
    max-width:300px;
  }
}
@media only screen and (min-width: 600px) 
{
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
  
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
  
  .roundphoto {
    max-width:450px;
  }
}